.feynman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}
.feynman__link a:link {
    color: #2f80ed;
    text-decoration: none;
}
.feynman__link a:visited {
    color: #2f80ed;
    text-decoration: none;
}