.footer__column {
    width: 90%;
    margin: 0 auto;
    display: flex;
    height:250px;
    flex-direction: row;
    flex-basis: 771px;
    padding-top: 60px;
    padding-bottom: 40px;
    justify-content: space-between;
}