.footer {
    min-height: 250px;
    background-color: black;
    color: white;
    padding-bottom: 40px;
    padding-top: 60px;

}
.footer__column {
    width: 90%;
    margin: 0 auto;
    display: flex;
    height:250px;
    flex-direction: row;
    flex-basis: 771px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer__column_info {
    width: 50%;
}
.footer__column_social {
    display: flex;
    flex-direction: column;
    width: 20%;

}
.footer__column_content-copyright {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height:100%;
    justify-content: space-between;
    align-content: start;
}
.footer__column-social {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: inherit;
    text-align: justify;
    

}
.footer__column-links {
    display: flex;
    flex-wrap: wrap;
}
.footer__column-links p{
    width: 100%;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
}


.footer__column-heading {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}
.footer__column_social img {
    padding-right:2px;
}
.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}
.footer a:link {
    color: white;
    text-decoration: none;
}
.footer a:visited {
    color: white;
    text-decoration: none;
}