.feynman {
    min-height: 890px;
    background-image: url(../../Images/feynman.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #f2f2f2;
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}