.kaufman {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
    z-index: -1;
}