.kaufman__triangle {
    position: absolute;
    right: -210px;
    top: 0;
    height: 870px;
    width: 870px;
    background-image: url(../../../Images/kaufman-triangle.svg);
    object-fit: contain;
    object-position: right;
    background-size: contain;
}