.khan__buy-link {
    display: inline-block;
    vertical-align: top;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}
.khan__buy-link a:link {
    color: #2f80ed;
    text-decoration: none;
}
.khan__buy-link a:visited {
    color: #2f80ed;
    text-decoration: none;
}